MOCK_IDP_PORT=7000
MOCK_IDP_BASE_URL=http://localhost:7000
MOCK_IDP_ENTITY_ID=sso.hsad.co.kr
MOCK_IDP_AUDIENCE=https://legal-api-dev.hsad.co.kr
MOCK_IDP_SP_ACS_URL=https://legal-api-dev.hsad.co.kr/api/login/saml/callback
MOCK_IDP_SIGN_RESPONSE=false
MOCK_IDP_PRIVATE_KEY_PATH=./certs/idp-private.pem
MOCK_IDP_CERT_PATH=./certs/idp-cert.pem
